/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

header img {
  max-width: 100%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 15px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  text-align: center;
}

.endereco {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.endereco p {
  margin: 5px 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilo dos links no rodapé */
footer a {
  color: #fff;
}

/* Estilo da tabela */
table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}

/* Estilo do formulário de contato */
form {
  margin-top: 20px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

form input[type="submit"],
form input[type="reset"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background-color: #555;
}
